@import "~/app/styles/colors.scss";
$default-font-color: map-get($colors, "default-font-color");

html,
body {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: "TT Firs Neue";
  color: var(--default-font-color);
}

@media (max-width: 992px) {
  html,
  body {
    font-size: 8px;
  }
}
